<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
</html>
  <body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.acquired ? 'Acquired' : 'Acquired?' %>
        </li>
      <% }); %>
    </ul>
  </body>

