<%- include('../partials/header')  %>


 <!-- ACTION ==== HREF OF AN TAG -->
<form action="/skills" method="POST">
    <input type="text" name="">
    <input type="submit" value="">
</form>

<%- include('../partials/footer')  %>