body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

a {
  color: #2f97c0;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}
